:root{

    --color-titulos: #464646;
    --color-letra-1: #fdfdfd;    
    --color-letra-2: #a59999;
    --color-letra-3: #818080;
    --color-background-azul: #2A7AE4;
    --color-background-azulClaro: #EAF2FD;
    --color-background-gris: #e3e3e3;
    --color-background-gris-2: #f1f1f1;
    --tipo-letra: 'Raleway', sans-serif;

}

body {
    font-family:var(--tipo-letra);
}
