.menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1.75rem 0;
}

.menu__logo {
    width: 7rem;
    height: auto;
}

.menu__busqueda {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.menu__boton-login {
    background-color: #fdfdfd;
    border: 1px solid #2A7AE4;
    font-weight: 600;
    height: 2.5rem;
    color: #2A7AE4;        
    width: 140px;
}

.menu__lupa {
    color: #000000;
}


@media screen and (min-width: 768px) {        

    .menu__busqueda {
        flex-direction: row-reverse;
    }

    .menu__buscador {
        display: block;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: var(--color-background-gris);
        color: #565454;
        font-weight: 400;
        height: 2rem;
        padding-left: 10px;
        width: 200px;        
    }
    
    .menu__lupa {
        display: none;
    }    
}

@media screen and (min-width: 1200px) {        
  
    .menu__buscador {        
        width: 300px;        
    }    
    
}