.contenedor__productos {
    display: flex;         
    width: 100%;    
}

.contenedor__productos-item {    
    width: 100%;
    padding: 1.25rem .75rem;
}

.contenedor__productos-starWars, .contenedor__productos-consolas, .contenedor__productos-diversos {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    width: 100%;
}

.contenedor__productos-item-categoria {
    margin: 1rem 0 1rem 0;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.contenedor__producto-item-info {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .75rem 0;
    line-height: 1.5rem;
    width: 46%;    
}

.contenedor__item-titulo {    
    color: var(--color-titulos);
    font-size: 1.55rem;
    font-weight: 900;
}

.contenedor__productos-item-ver {    
    color: var(--color-background-azul);   
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.productos-item__img-producto {
    width: 10rem;
    height: 180px;    
}

.productos-item__titulo {
    color: var(--color-titulos);
    font-size: 15px;
    font-weight: 400;
}

.productos-item__precio {
    color: var(--color-titulos);
    font-size: 15px;
    font-weight: bold;
}

.productos-item__ver-producto {
    color: var(--color-background-azul);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.contenedor__productos-starWars .contenedor__producto-item-info:nth-child(3), .contenedor__productos-starWars .contenedor__producto-item-info:nth-child(7) {
    display: none;
}

.contenedor__productos-consolas .contenedor__producto-item-info:nth-child(6), .contenedor__productos-consolas .contenedor__producto-item-info:nth-child(7) {
    display: none;
}

.contenedor__productos-diversos .contenedor__producto-item-info:nth-child(6), .contenedor__productos-diversos .contenedor__producto-item-info:nth-child(7) {
    display: none;
}
@media screen and (min-width: 768px) {        

    .contenedor__productos-item {
        justify-content: space-around;
    }

    .contenedor__producto-item-info {
        width: 20%;
    }

}

@media screen and (min-width: 1200px) {
    
    .contenedor__productos-item:nth-child(2) {
        background-color: red;
    }
    
    .contenedor__productos-starWars .contenedor__producto-item-info:nth-child(3), .contenedor__productos-starWars .contenedor__producto-item-info:nth-child(7) {
        display: flex;
    }
    
    .contenedor__productos-consolas .contenedor__producto-item-info:nth-child(6), .contenedor__productos-consolas .contenedor__producto-item-info:nth-child(7) {
        display: flex;
    }
    
    .contenedor__productos-diversos .contenedor__producto-item-info:nth-child(6), .contenedor__productos-diversos .contenedor__producto-item-info:nth-child(7) {
        display: flex;
    }

    .contenedor__producto-item-info {
        width: 15%;
    }
}

